/* _______________ reset ________________ */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

/* _____________ all ______________ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ____________ container ___________ */

.container {
    min-height: 100vh;
    position: relative;
    background-image: linear-gradient(65deg , var( --bg-color, hsl(123, 45%, 80%) ) 15%, var(--bg-color, hsl(123, 95%, 78%) ), var(--bg-color, hsl(123, 15%, 98%) ) 80%);
    overflow: hidden;
}

/* ___________ cursor__follower ___________ */

.cursor__follower {
    --x: 50%;
    --y: 50%;
    display: block;
    width: var(--width, 6rem);
    height: var(--height, 6rem);
    position: absolute;
    top: calc(var(--y) * 0.1rem);
    left: calc(var(--x) * 0.1rem);
    transform: translate(-50%, -50%);
    transition-delay: 15ms;
    transition-duration: 150ms;
    transition-property: transform;
    background-color: var(--bg-color, hsl(0, 0%, 12%));
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    user-select: none;
}

.cursor__follower::before {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--width, 5rem);
    height: var(--height, 5rem);
    background-color: var( --bg-color, hsl(var(--hue), calc(var(--saturation) * 1%), calc(var(--light) * 1%)));
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

